.App {
  min-height:100vh;
  width: 90%;
  background-image:   url("./assets/FeaturedCoverImage.png") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.page {
margin-left: 157px;
margin-top: 180px;
position: absolute;
display: flex;
flex-direction: column;
justify-content: space-between;
}
