.trending{
    width: 100%;
}

.swiper{
    cursor: pointer;
    display: flex;
    margin-top: 15px;
}
  
.trendingHeader {
    font-size: 32px;
    color: #F1F1F1;
}

.movies{
    margin-top: 16px;
}