.trending{
position: fixed;  
bottom:  0;
}
.swiper{
    display: flex;
    margin-top: 15px;
  }
  
.trendingHeader {
    color: #F1F1F1;
    font-size: 32px;
}

.movies{
    margin-top: 16px;
    position: absolute;
}