.trending{
    margin-top: 154px;
  
}
.swiper{
    display: flex;
  }
  
.trendingHeader {
    color: #F1F1F1;
    font-size: 32px;
    opacity: 1;
}

.movies{
    margin-top: 16px;
    position: absolute;
}